name: klimatologiot
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.1.0

dependencies:
  flutter:
    sdk: flutter

  firebase_core: ^4.3.0
  firebase_auth: ^6.1.3
  cloud_firestore: ^6.1.1
  rxdart: ^0.27.7
  google_sign_in: ^7.2.0

  bloc: ^8.1.0
  flutter_bloc: ^8.1.0
  equatable: ^2.0.5

  user_repository:
    path: packages/user_repository

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  # assets:
  #   - assets/images/